#modular-contact-container a {
  line-height: 1em;
}

ul.footer_social_media {
  list-style: none;
}

ul.footer_social_media li {
  float: left;
  width: 25px;
}

ul.footer_social_media li a {
  background-image:url('http://i62.tinypic.com/14j5dle.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 26px;
}

ul.footer_social_media li a.item1 {
  background-position: 0px 0px;
}

ul.footer_social_media li a:hover.item1 {
  background-position: 0px -26px;
}

ul.footer_social_media li a.item2 {
  background-position: 0px -55px;
}

ul.footer_social_media li a:hover.item2 {
  background-position: 0px -81px;
}

ul.footer_social_media li a.item3 {
  background-position: 0px -108px;
}

ul.footer_social_media li a:hover.item3 {
  background-position: 0px -135px;
}

ul.footer_social_media li a.item4 {
  background-position: 0px -163px;
}

ul.footer_social_media li a:hover.item4 {
  background-position: 0px -191px;
}

ul.footer_social_media li a.item5 {
  background-position: 0px -219px;
}

ul.footer_social_media li a:hover.item5 {
  background-position: 0px -245px;
}